@media (min-width: 1300px) and (max-width: 1400px){

    .btn{
        font-size: 1.2rem;
    }

    .landing{

        #sustainability{
            font-size: 12rem;
        }
    }

    .toTeams{
        padding: 8rem 0;
    
        .inner-section{
            width: 80vw;
            margin: 0 auto;
    
            h4{
                font-size: 2.5rem;
                line-height: 3.4rem;
            }
            #lowerH4{
                padding-left: 3rem;
            }
    
            .team{
    
                .text{
                    font-size: 2.3rem;
                    line-height: 4rem;
                }
            }
    
        }
    }

    .we-are{
        #joinBtn{
            width: 285px;
            margin-top: 6rem;
        }
    }



    .toDV{
        position: relative;
        min-height: 434px;
        padding: 8rem 0;
    
        .innerContainer{
    
            p{
                font-size: 1.4rem;
                margin-bottom: 1.2rem;
            }
    
            h3{
                font-size: 2.8rem;
            }
    
    
        }
    }

    .doSection{
    
        .inner-section{
            padding: 8rem 0;
    
            h4{
                font-size: 3.6rem;
                line-height: 4.2rem;
            }
        
            #line{
                border-bottom: 5px solid $primary;
                width: 170px;
            }
    
            .section1{
                gap: 6rem;
    
                .text{

                    p{
                        font-size: 1.4rem;
                    }
                }
            }
    
            .section2{
                gap: 6rem;
    
                .text{
    
                    p{
                        font-size: 1.4rem;
        
                        span{
                            color: $blue1;
                        }
                    }
                }
            }
    
            .lowerText{
                font-size: 1.4rem;   
            }
        }
    }

    .we-are{
    
        .inner-section{
    
            .leftDiv{
                
                p{
                    font-size: 8.8rem;
                }
            }
    
            .rightDiv{
                
                p{
                    font-size: 3.2rem;
                }
            }
        }
    
    }

    .veges{

        .vLanding{
            .inner-section{
                width: 80vw;

                .leftDiv{
                    img{
                        height: 320px;
                    }
                }
        
                .rightDiv{
                    margin-top: 4rem;
    
                    h2{
                        font-size: 3.2rem;
                        line-height: 4.2rem;  
                    }
                }
            }
        }



        .objectives{
            .inner-section{
                .part1{
                    margin-bottom: 6rem;
    
                    h3{
                        font-family: $pop;
                        font-weight: 600;
                        color: $blue1;
                        font-size: 1.5rem;
                    }
    
                    p{
                        font-family: $mont;
                        font-weight: 400;
                        font-size: 1.5rem;
                        color: $black;
                    }
                }
    
                .part2{
                    margin-bottom: 10rem;
                    display: flex;
                    justify-content: space-between;
    
                    .leftDiv{
                        width: 500px;
                        margin-top: 12rem;
    
                        h5{
                            font-size: 1.9rem;
                            margin-bottom: .5rem;
                        }
                        p{
                            font-size: 1.5rem;
                            margin-bottom: .5rem;
                        }
                    }
    
                    .rightDiv{
                        img{
                            width: 307px;
                        }
                    }
                }
                .part3{
    
                    .leftDiv{
                        img{
                            width: 356px;
                            height: 559px;
                        }
                    } 
    
                    .rightDiv{
                        width: 500px;
                        margin-top: 3rem;
    
                        h5{
                            font-size: 1.9rem;
                            margin-bottom: 1rem;
                        }
                        p{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }


    }

    .teams{
        .teamsSection{

            .team{

                .cards-container{
                    width: 80vw;
                }
            }
        }
    }

        

}