@media only screen and (max-width: 600px){

    .btn{
        display: inline-block;
        padding: .5rem 2rem;
        font-size: .8rem;
        color: $lightText;
        background: $browny2;
        transition: .5s ease;
    
        i{
            margin-left: .5rem;
        }
    }

    header{
        padding-top: 0;
        

        .nav-container{
            padding-left: 1rem;
            padding-right: 2rem;

            .logo{
                img{
                    height: 66px;
                }
            }
    
            nav{
                display: none;
            }
        }
    }

    .landing{
        min-height: 35vh;
        padding: 3rem 0 2rem 0;
    
        .top-section{
            width: 90vw;
            z-index: 2;
    
            .txtDiv{
    
                h2{
                    font-size: 1.6rem;
                    z-index: 5;
                    line-height: 2rem;
                }
    
                #line{
                    border-bottom: 3px solid $primary;
                    width: 62px;
                    margin-right: .6rem;
                    bottom: .1rem;
                }
    
                #platform{
                    padding-right: .3rem;
                }
    
                
            }
    
            .imgDiv{
                position: relative;
                img{
                    margin: 1.2rem 0 0 -1.5rem;
                    height: 25vw;
                }
            }
        }
    
        .lower-section{
            width: 80vw;
            margin-top: 4rem;
    
            p{
                text-align: center;
                width: 45%;
                font-size: .8rem;
            }
    
            #center{
                display: none;
            }
        }
    
        #sustainability{
            top: 8.4rem;
            left: -.5rem;
            z-index: 1;
            font-size: 3.4rem;
        }
    }
    
    .toDV{
        min-height: 20vh;
        padding: 4rem 0;
    
        .innerContainer{
            width: 80vw;
    
            p{
                font-size: .8rem;
                margin-bottom: .4rem;
            }
    
            h3{
                font-size: 1.1rem;
                margin-bottom: .2rem;
            }
    
            #toDv{
                margin-top: 1.2rem;
            }
    
        }
    }
    
    .model{
    
        .inner-section{
            gap: 0rem;
            width: 90vw;
            padding: 4rem 0;
    
            .leftDiv{
                width: 60vw;
                p{
                    span{
                        font-size: 1rem;
                    }

                    font-size: .8rem;
                }
            }
    
            .rightDiv{
                img{
                    height: 100px;
                }
            }
        }
    }
    
    .doSection{
        position: relative;
        background: #EFDEAF;
    
    
        .inner-section{
            width: 90vw;
            margin: 0 auto;
            padding: 4rem 0;
    
            h4{
                font-size: 1.4rem;
                line-height: 1.9rem;
            }
        
            #line{
                border-bottom: 3px solid $primary;
                width: 70px;
                margin-right: .3rem;
                bottom: .1rem;
            }
    
            .section1{
                margin-top: 2rem;
                flex-direction: column;
                gap: 1rem;
    
                .text{
                    width: 100%;
    
                    p{
                        font-size: 1rem;
                    }
                }

                .image{
                    margin-top: 0rem;
                    
                    #img1{
                        left: 4rem;
                        height: auto;
                        width: 70vw;
                    }
    
                    #img2{
                        height: auto;
                        width: 70vw;
                        top: 5.5rem;
                        left: 0rem;
                    }
                }
            }
    
            .section2{
                margin-top: 6rem;
                gap: 1rem;
                flex-direction: column-reverse;
    
                .image{
                    margin-top: 0rem;
                    
                    #img1{
                        left: 0rem;
                        height: auto;
                        width: 70vw;
                    }
    
                    #img2{
                        height: auto;
                        width: 70vw;
                        top: 5.5rem;
                        right: 0rem;
                    }
                }

                .text{
                    margin-left: 0rem;
                    width: 100%;
    
                    p{
                        font-size: 1rem;
                    }
                }
            }
    
            .lowerText{
                margin-left: 0px;
                margin-top: 8rem;
                width: 80vw;
                font-size: 1rem;
            }
        }
    }
    
    .toTeams{
        padding: 3rem 0;
    
        .inner-section{
            width: 90vw;
    
            h4{
                font-size: 1.4rem;
                line-height: 2rem;
            }
            #lowerH4{
                padding-left: 2rem;
                margin-bottom: .5rem;
            }
    
            .team{
                gap: .5rem;
    
                .icon{
    
                    span{
                        height: 1px;
                        width: 20px;
                        margin-bottom: .2rem;
                    }
                    .lowerLine{
                        margin-left: .2rem;
                    }
                }
    
                .text{
                    font-size: 1.2rem;
                    line-height: 2rem;
                }
            }
    
            #toTeams{
                margin-top: 2rem;
            }
        }
    }
    
    .takes{
        padding: 3rem 0;
    
        .inner-section{
            width: 90vw;
    
            h4{
                font-size: 1.3rem;
                line-height: 1.6rem;
            }
        
            #line{
                border-bottom: 3px solid $primary;
                width: 20px;
                margin-right: .3rem;
                bottom: .1rem;
            }
    
            .upper-part, .lower-part{
                margin-top: 1.3rem;
    
                .box{
                    img{
                        height: 120px;
                    }
                    p{
                        font-size: .6rem;
                    }
                }
    
                #box2{
                    margin-top: 6rem;
                    margin-left: -3rem;
                }
                #box3{
                    display: none;
                }
            }
        }
    }
    
    .we-are{
        padding: 3rem 0;
    
        .inner-section{
            gap: .5rem;
            width: 90vw;
    
            .leftDiv{
                p{
                    font-size: 1.8rem;
                }
            }
    
            .rightDiv{
                margin-top: .2rem;
                p{
                    font-size: 1.2rem;
                    margin-bottom: .6rem;
                }
                #p2{
                    font-style: normal;
                    margin-left: 2rem;
                    color: $black;
                }
                #p3{
                    margin-left: 4rem;
                }
            }
        }
    
        #joinBtn{
            width: 180px;
            margin-top: 4rem;
        }
    }

    footer{
        padding-top: 3rem;
        padding-bottom: 1rem;
         
        .inner-section{
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
    
            .div{
                text-align: center;

                h6{
                    font-size: 1rem;
                    margin-bottom: .2rem;
                }
    
                a, p{
                    font-size: .9rem;
                    margin: .5rem 0;
                }
    
                .socials{
                    margin-top: .4rem;
                    justify-content: center;
                    align-items: center;
    
                    i{
                        margin-right: 1rem;
                        font-size: 1rem;
                        padding: .6rem;
                    }
                }
            }
        }
    
        #copy{
            font-size: .6rem;
            margin-top: 1.5rem;
        }
    }
    
    .veges{
    
        .vLanding{
            padding: 3rem 0 4rem 0vw;
    
            .inner-section{
                gap: .8rem;
                width: 90vw;
    
                .leftDiv{
                    img{
                        height: 37vw;
                    }
                }
        
                .rightDiv{
                    margin-top: 2rem;
    
                    h2{
                        font-size: 1rem;
                        line-height: 1.6rem;
            
                        #line{
                            display: none;
                        }   
                    }
        
                    #topH2{
                        margin-left: -7.6rem;
                        padding: .1rem .4rem;
                    }
                }
            }
        }
    
        .buy{
            height: auto;
            padding: 2rem 0;
            padding-left: 0vw;
            
            .inner-section{
    
                #up{
                    font-size: 1.4rem;
                    margin-bottom: .2rem;
                }
    
                #bottom{
                    font-size: 1rem;
                    line-height: 1.6rem;
                    margin-bottom: 2rem;
                }
    
                #buyBtn{
                    font-size: 1rem;
                }
            }
        }
    
        .objectives{
            padding: 4rem 0 4rem 0;
            .inner-section{
                width: 80vw;
                margin: 0 auto;
    
                .part1{
                    margin-bottom: 2rem;
    
                    h3{
                        font-size: 1.1rem;
                    }
    
                    p{
                        font-size: 1rem;
                    }
                }
    
                .part2{
                    margin-bottom: 3rem;
                    flex-direction: column-reverse;
    
                    .leftDiv{
                        width: 100%;
                        margin-top: 2rem;
    
                        h5{
                            font-size: 1.2rem;
                            margin-bottom: .5rem;
                        }
                        p{
                            font-size: 1rem;
                            margin-bottom: .5rem;
                        }
                    }
    
                    .rightDiv{
                        width: 100%;
                        height: auto;
                    }
                }
    
                .part3{
                    flex-direction: column;
    
                    .leftDiv{
                        width: 100%;
                        height: auto;
                    } 
    
                    .rightDiv{
                        width: 100%;
                        margin-top: 2rem;
    
    
                        h5{
                            font-size: 1.2rem;
                            margin-bottom: .3rem;
                        }
                        p{
                            font-size: 1rem;
                            margin-bottom: .5rem;
                        }
                    }
                }
            }
        }
    
        .faqs{
            padding: 4rem 0 4rem 0vw;
    
            .container{
                width: 90vw;
                margin: 0 auto;
        
                h5{
                    font-size: 1.5rem;
                }
    
                #lowerH5{
                    padding-left: 1rem;
                }
            }
    
    
        }

    
    }

    .teams{

        .tLanding{
            padding: 4rem 0;
    
            .container{
       
                .upperDiv{
                    margin-bottom: 3rem;
                    gap: 3rem;
                    flex-direction: column-reverse;
    
                    .centerDiv{
                        order: 1;
                        margin-top: 0rem;
                        margin-bottom: 1rem;

                        h2{
                            text-align: center;
                            font-size: 2rem;
                        }
    
                        #joinBtn{
                            width: 138px;
                            margin-top: 1.5rem;
                        }
                    }
                }
    
                .lowerDiv{
                    gap: 3rem;
                    flex-direction: column;
                    width: 80vw;
                }
            }
        }
    
        .teamsSection{
            padding: 3rem 0 3rem 0;
    
            .team{
                margin-bottom: 4rem;
    
                h4{
                    font-size: 1.3rem;
                    margin-bottom: 1.2rem;
                }
    
                .cards-container{
                    width: 70vw;
                    gap: 3rem;
                }
            }
        }
    
    }
    
}